@font-face {
	font-family: "SF Pro Display-Regular";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/SFPro-Display-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "SF Pro Display-Medium";
	font-style: normal;
	font-weight: 500;
	src: url("./fonts/SFPro-Medium.otf") format("opentype");
}

@font-face {
	font-family: "SF Pro Display-Bold";
	font-style: normal;
	font-weight: 500;
	src: url("./fonts/SFPro-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "SF Pro Display-Italic";
	font-style: normal;
	src: url("./fonts/SF\ Pro\ Display\ Italic.ttf") format("truetype");
}


.ant-tooltip .ant-tooltip-inner {
	background-color: #555555;
	font-family: "SF Pro Display-Regular" !important;
	font-size: 14px !important;

}

.pagnition {
	text-align: right;
	margin-top: 50px;
}

body {
	font-family: "SF Pro Display-Regular";
}

h1 {
	font-family: "SF Pro Display-Medium";
	font-size: 40px !important;
	margin-top: 0px;
	margin-bottom: 20px;
}

h3 {
	font-family: "SF Pro Display-Medium";
	font-size: 30px !important;
	margin-top: 0px;
	margin-bottom: 20px;
}

h4 {
	font-family: "SF Pro Display-Medium";
	font-size: 18px !important;
	margin-top: 0px;
}

h5 {
	font-family: "SF Pro Display-Medium";
	font-size: 17px !important;
	margin-top: 0px;
}


h6 {
	font-family: "SF Pro Display-Medium";
	font-size: 24px !important;
	margin-top: 0px;
	margin-bottom: 8px;
}

.location-step-txt {
	font-family: "SF Pro Display-Regular";
	margin-top: 0px;
	font-size: 15px;
}

p {
	font-family: "SF Pro Display-Regular";
	margin-bottom: 8px;
}

.fw-medium {
	font-family: "SF Pro Display-Medium";
}

h2 {
	font-family: "SF Pro Display-Regular";
	font-size: 20px !important;
	margin-bottom: 2px !important;
}